{% extends "base.html" %}

<style type="text/css">
h2.invisible {visibility:hidden}
</style>

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
        <!--< class="col-md-8 col-sm-8">-->
          <h1>Evoting Admin Pannel</h1>


</div>
</div>

  {% for question in latest_question_list %}
       <div class="col-lg-4">
           <section class="progress-demo">
        <h2>{{ question.question_text }}</h2>
           </section>
      <!--<p><a class="btn btn-primary" href="{% url 'polls:detail' question.id %}" role="button">View details &raquo;</a></p>-->
           <h2 class="invisible", id="candidate">{{question.choice_set.count}}</h2>




	  <!--<a class="btn btn-primary" href="{% url 'accounts:signup' %}"-->
         <!--role="button">Initilize Voting</a>-->
                <section class="progress-demo">
                <!--<section class="button-demo">-->
               <button id= "INIT" class="ladda-button" data-color="mint"
                       data-style="expand-right" data-size="xl">Initilize Voting</button>
                    </section>
                    <h2 class="invisible">placeholder</h2>
                 <section class="progress-demo-add">
                <!--<section class="button-demo">-->
               <button id= "ADD" class="ladda-button" data-color="mint"
                       data-style="expand-right" data-size="xl">Add Ballots</button>
                    </section>
                    <h2 class="invisible">placeholder</h2>
               <section class="progress-demo-result">
                <!--<section class="button-demo">-->
               <button name="aabbccdd" id= "RESULT" class="ladda-button"
                       data-color="mint"
                       data-style="expand-right" data-size="xl">DONE
                   RESULT</button>
                    </section>


    </div>
   {% endfor %}
{% endblock splash %}

<!--{% block container %}-->
<!--&lt;!&ndash; Benefits of the Django application &ndash;&gt;-->
<!--<a name="about"></a>-->

<!--<div class="container">-->
<!--{% csrf_token %}-->
  <!--<div class="row">-->

  <!--{%for choice in question.choice_set.all %}-->
       <!--<div class="col-lg-4">-->
        <!--<h2><a>{{ choice.Candidate_Name }}</a>-->

        <!--</h2>-->
            <!--<div class="text-center">-->
      <!--<div class="col-sm-5"><img title="profile picture" class="img-circle img-responsive"  src=-->
                                          <!--"{% thumbnail choice.Candidate_Picture|default:'default_profile.png' 480x480 crop %}">-->
                <!--</div>-->
            <!--</div>-->
       <!--<p>{{choice.Candidate_Description}} </p>-->

      <!--&lt;!&ndash;<p><a class="btn btn-primary"&ndash;&gt;-->
            <!--&lt;!&ndash;onclick="myFunction(this)"&ndash;&gt;-->
            <!--&lt;!&ndash;role="button"&ndash;&gt;-->
            <!--&lt;!&ndash;id="{{ choice.id}}"&ndash;&gt;-->
      <!--&lt;!&ndash;&gt;Vote Me &raquo;</a></p>&ndash;&gt;-->

           <!--<section class="button-demo">-->
				<!--<button class="ladda-button" data-color="blue"-->
                        <!--data-style="slide-down" onclick="myFunction(this)" id="{{ choice.id}}"-->
                <!--&gt;Cast Vote</button>-->
			<!--</section>-->


       <!--</div>-->
    <!--{% endfor %}-->

  <!--</div>-->
<!--</div>-->

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'site/dist_loading/spin.min.js' %}"></script>
<script src="{% static 'site/dist_loading/ladda.min.js' %}"></script>

<script>
			// Bind normal buttons
			Ladda.bind( '.button-demo button', { timeout: 2000 } );

			// Bind progress buttons and simulate loading progress
			Ladda.bind( '.progress-demo button', {
				callback: function( instance ) {

    					var progress = 0;
    					var interval = setInterval( function() {
    						progress = Math.min( progress + Math.random() * 0.1, 1 );
    						instance.setProgress( progress );
//    						if( progress === 1 ) {
//    							instance.stop();
//    						}
    					}, 200 );

//                 $.post('http://localhost:3000/admin/init',
//                     function(result){
//                         alert(result)
//                         alert("aa")
//                         instance.stop()
//                         clearInterval( interval );
//                });


//                    $.ajax({
//                        type: "POST",
//                        dataType: 'application/json',
////                         headers: {'Content-Type': 'application/x-www-form-urlencoded'},
//                        headers:{'Access-Control-Allow-Origin': '*'},
//                        url: 'http://127.0.0.1:3000/admin/init/',
//                        data:{csrfmiddlewaretoken:"{{csrf_token}}"},
////                        username: 'user',
////                        password: 'pass',
//                        crossDomain : true,
//                        xhrFields: {
//                            withCredentials: false
//                        }
//                    })
//                        .done(function( data ) {
//                            console.log("done");
//                            alert("done")
//                        })
//                        .fail( function(xhr, textStatus, errorThrown) {
//                            alert("eeeeeeeeeeeeeee")
//                            alert(xhr.responseText);
//                            alert(textStatus);
//                        });


          $.post('http://127.0.0.1:3000/admin/init/',
                     {csrfmiddlewaretoken:"{{csrf_token}}"},
                     function(result){
                        instance.stop();
                        clearInterval( interval );
                });

                    document.getElementById("INIT").innerHTML = "Done"
				}
			}
			);

			Ladda.bind( '.progress-demo-add button', {
				callback: function( instance ) {

                var progress = 0;
                var interval = setInterval( function() {
                    progress = Math.min( progress + Math.random() * 0.1, 1 );
                    instance.setProgress( progress );
                }, 200 );


          $.post('http://127.0.0.1:3000/admin/add/',
                     {csrfmiddlewaretoken:"{{csrf_token}}"},
                     function(result){
                        instance.stop();
                        clearInterval( interval );
                });
                    document.getElementById("ADD").innerHTML = "Done"
				}
			}
			);

			Ladda.bind( '.progress-demo-result button', {
				callback: function( instance ) {

    					var progress = 0;
    					var interval = setInterval( function() {
    						progress = Math.min( progress + Math.random() * 0.1, 1 );
    						instance.setProgress( progress );
    					}, 200 );

    			var choices = document.getElementById("candidate").innerHTML
          $.post('http://127.0.0.1:3000/admin/result/',
//                     {csrfmiddlewaretoken:"{{csrf_token}}",candidate:"{{ question.choice_set.count }}"},
               {csrfmiddlewaretoken:"{{csrf_token}}",candidate:choices},
                     function(result){
                        instance.stop();
                        clearInterval( interval );
                });
                    document.getElementById("RESULT").innerHTML = "Done"
				}
			}
			);




			// You can control loading explicitly using the JavaScript API
			// as outlined below:

			// var l = Ladda.create( document.querySelector( 'button' ) );
			// l.start();
			// l.stop();
			// l.toggle();
			// l.isLoading();
			// l.setProgress( 0-1 );

</script>





{% endblock scripts %}

