{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>This is a demo voting system on blockChain.</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>
<p hidden id="USERID">{{User.id}}</p>
<div class="container">
{% csrf_token %}
  <div class="row">

  {%for choice in question.choice_set.all %}
       <div class="col-lg-4">
        <h2><a>{{ choice.Candidate_Name }}</a>

        </h2>
            <div class="text-center">
      <div class="col-sm-5"><img title="profile picture" class="img-circle img-responsive"  src=
                                          "{% thumbnail choice.Candidate_Picture|default:'default_profile.png' 480x480 crop %}">
                </div>
            </div>
           <p hidden id="NUMCAN">{{question.choice_set.count}}</p>

       <p>{{choice.Candidate_Description}} </p>


           <section class="button-demo">
				<button class="ladda-button" data-color="blue"
                        data-style="slide-down"
                        onclick="myFunction({{choice.id}})"
                        id={{choice.id}}
                >Cast Vote</button>
			</section>

       </div>
    {% endfor %}

  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
<script src="{% static 'site/dist_loading/spin.min.js' %}"></script>
<script src="{% static 'site/dist_loading/ladda.min.js' %}"></script>


<script>
    function myFunction(choice) {

        var userid = document.getElementById("USERID").innerHTML;
        var numcan = document.getElementById("NUMCAN").innerHTML;
         $.post('http://127.0.0.1:3001/voting/casting',
               {csrfmiddlewaretoken:"{{csrf_token}}",USERID:userid,CANDIDATE:choice,NUMCAN:numcan},
             function(result){
                alert(result);
        });

           Ladda.bind( '.button-demo button', { timeout: 2000 } );
    }

</script>
{% endblock scripts %}

