{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}
{% load thumbnail %}

{% block title %}{{ block.super }}Home{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}

{% block navbar-right %}
  {% if not user.is_authenticated %}
<a class="btn btn-default" href="{% url 'accounts:login' %}" role="button">Log in</a>
<a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up</a>
  {% else %}
    {{ block.super }}
  {% endif %}
{% endblock %}

{% block splash %}
  <div class="jumbotron jumbotron-carousel corporate-jumbo">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h1>{% include "_brandname.html" %}</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam.</p>
	  <a class="btn btn-primary" href="{% url 'accounts:signup' %}" role="button">Sign up for Free!</a>
        </div>
        <div class="col-md-4 col-sm-4">

        </div>
      </div>
    </div>
  </div>
{% endblock splash %}

{% block container %}
<!-- Benefits of the Django application -->
<a name="about"></a>

<div class="container">
{% csrf_token %}
  <div class="row">

  {%for choice in question.choice_set.all %}
       <div class="col-lg-4">
        <h2><a>{{ choice.Candidate_Name }}</a>

        </h2>
            <div class="text-center">
      <div class="col-sm-5"><img title="profile picture" class="img-circle img-responsive"  src=
                                          "{% thumbnail choice.Candidate_Picture|default:'default_profile.png' 480x480 crop %}">
                </div>
            </div>
       <p>{{choice.Candidate_Description}} </p>
      <p><a class="btn btn-primary" href="
{% url 'polls:detail' question.id %}" role="button">Vote Me &raquo;</a></p>
       </div>
    {% endfor %}

  </div>
</div>

{% endblock container %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

